<div class="container">

<div class="row mt-2">
 <h1 class="public__page-title">Following</h1>
</div>

<div class="row col-md-10 mt-3">
 <%= render "public/user_index", users: @followings %>
</div>

</div>