<div class="container">

<div class="row mt-2">
 <h1 class="public__page-title">Follower</h1>
</div>

 <div class="row col-md-10 mt-3">
 <%= render "public/user_index", users: @followers %>
 <div class="d-flex justify-content-center mt-2"><%= paginate @followers %></div>
 </div>

</div>