<div class="container">

<div class="row mt-2">
 <h1 class="public__page-title">About DinneTrack</h1>
</div>

<h2>--使い方--</h2>
<h4 class="mt-3">夕食を投稿する</h4>
<ul>
  <li>Title、Genre、Cost、Styleは必須項目です</li>
  <li>Image、Memoは任意項目です。Memoには食べた感想や、参考にしたレシピのURLなどを入れましょう</li>
  <li>一推し登録にチェックをすると、一推し一覧に表示され、材料タグ検索やジャンル検索を行うことができます</li>
  <li>材料はタグ形式で登録ができます</li>
  <li>投稿した夕食のGenre、Styleがサイドバーのグラフに集計されます</li>
</ul>

<h4 class="mt-3">食事記録を登録する</h4>
<ul>
  <li>Mypageから日々の食事記録を登録することができます</li>
  <li>他のユーザからは見えません</li>
  <li>日付と金額は必須項目です。0円の場合は0を入力してください</li>
  <li>過去３ヶ月間の食費合計をマイページから確認することができます</li>
</ul>

<h4 class="mt-3">ご利用の注意点</h4>
<ul>
  <li>公序良俗に反する投稿や著作権を侵害する投稿など、不適切と判断した投稿は事前の予告なく削除させていただく可能性がございます</li>
  <li>上記の投稿を繰り返すユーザ様はご利用を停止させていただく可能性がございます</li>
  <li>本サービスは事前の予告なく終了する場合がございます。その場合の投稿データの復元はできかねます</li>
  <li>予めご了承ください</li>
</ul>