<div class="container">

<div class="row mt-2">
<h1 class= "admin__page-title">材料タグ一覧</h1>
</div>

<div class="row col-md-6 mt-3">
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
    <th style="width: 40%">タグ名</th>
    <th style="width: 40%">タグ付け数</th>
    <th style="width: 20%"></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= tag.dinners.count%></td>
      <td><%= link_to "削除", admin_tag_path(tag.id), method: :delete, data: { confirm: "【確認】タグを削除しますか？" }, class:"btn btn-sm btn-danger"%></td>
    </tr>
  </tbody>
    <% end %>
</table>
<%= paginate @tags %>
</div>
</div>
