<h1>材料タグ一覧</h1>

<div class="container">
<din class="row col-md-6">
<table class="table table-sm">
  <thead class="thead-light">
    <tr align="center">
    <th style="width: 40%">タグ名</th>
    <th style="width: 40%">タグ付け数</th>
    <th style="width: 20%"></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= tag.dinners.count%></td>
      <td><%= link_to "削除", admin_tag_path(tag.id), method: :delete, class:"btn btn-sm btn-danger"%></td>
    </tr>
  </tbody>
    <% end %>
</table>
</div>