// @import "~bootstrap/scss/bootstrap";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

footer {
  width: 100%;
  margin-top: auto;
  background-color: orange;
  text-align: center;
}

header {
  width: 100%;
  margin-top: auto;
  background-color: orange;
}