.top {
  position: relative;

  &__image {
   width: 100%;
   height: 300px;
   object-fit: cover;
  }

  &__text {
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 8em;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 0 0.05em 0.08em rgba(0,0,0,0.7);
}

 &__introduction {

    &--text {
      margin-top: 20px;
    }

    &--info {
      margin-top: 30px;
      color: #bdb76b;
      text-align: center;
    }
}
}

@media screen and (max-width:1024px) {
  .top__text {
    font-size: 7em;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .top__text {
    font-size: 6em;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .top__text {
    font-size: 3em;
  }
}
