<h1>Dinner Album</h1>
<div class="main-content">
<div class="sidebar">
<%= render "public/user_info", user: @user  %>
</div>

<div class="right-content">
<%=render "public/dinner_index", dinners: @dinners %>
</div>